#theme-recommended {
    margin: 30px -10px 0 -10px;
}

#theme-recommended li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    float: left;
    padding: 0 10px;
    margin-bottom: 20px;
}

#theme-recommended li h3 {
    line-height: 1;
    opacity: 1;
    text-align: left;
    color: #555;
    font-size: 18px;
    width: 100%;
    font-weight: 500;
    text-shadow: 0 1px 0 #FFFFFF;
    margin: 0 0 15px 0;
}

#theme-recommended li h3 a{
    color: inherit;
    text-decoration: none;
}

#theme-recommended li .description{
    line-height: 1em;
    color: #777;
    margin: -4px 0 15px 0;
    height: 1.2em;
    overflow: hidden;
}

#theme-recommended li a.thumbnail{
    display: block;
    line-height: 0;
    padding: 5px;
    border: 1px solid #CCC;
    background: #F9F9F9;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#theme-recommended li .wrapper{
    background: #F3F3F3;
    border: 1px solid #DDD;
    padding: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#theme-recommended li .wrapper img {
    width: 320px;
    height: 225px;
}