#panels{
	position: relative;
}

html {
    overflow-y: scroll; /* This fixes the tooltips */
}

/* @group Panel List */

.panel-type-list {
    margin: 0 -5px;
}

#panels-dialog-tabs{
    margin-bottom: -10px
}

.panel-type-list .panel-type {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    padding: 0 5px;
    margin-bottom: 10px;
    
    float: left;
}

.panel-type-list .panel-type-wrapper {
    padding: 10px;
    background: #808080;

    background: #f8f8f8;
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ececec 100%);
    background: -o-linear-gradient(top,  #f8f8f8 0%,#ececec 100%);
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#ececec 100%);
    background: linear-gradient(to bottom,  #f8f8f8 0%,#ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ececec',GradientType=0 );

    border: 1px solid #dfdfdf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    cursor: pointer;
}

.panel-type-list .panel-type h3 {
    margin: 0 0 7px 0;
    height: 1.2em;
    font-weight: 600;
}

.panel-type-list .panel-type small{
    height: 3em;
    display: block;
}

/* @end */

/* @group Grid */

#panels-container .grid-wrapper h4{
	margin: 5px 1px;
}

#panels-container .grid {
	margin-bottom: 20px;
	position: relative;
	background: url(images/grid-bg.png) repeat;
}

#panels-container .grid .cell {	
	background: #fff8bd;
	border: 1px solid #ecd800;
	
	position: absolute;
	top: 0;
}

#panels-container .grid .cell .cell-wrapper{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	padding: 10px 10px 6px 10px; /* 6px bottom to remove bottom margin from panels */
}

#panels-container .grid .cell.first{
	margin-left: 0;
}

#panels-container .grid .cell.last{
	margin-right: 0;
}

#panels-container .grid .cell .cell-width{
	height: 11px;
	position: absolute;
	bottom: -13px;
	overflow: hidden;
	font-size: 9px;
	width: 100%;
}

#panels-container .grid .cell .cell-width-left{
	float: left;
	height: 11px;
	width: 5px;
	background: url(images/cell-width.png) no-repeat left top;
}

#panels-container .grid .cell .cell-width-right{
	float: right;
	height: 11px;
	width: 5px;
	background: url(images/cell-width.png) no-repeat left bottom;
}

#panels-container .grid .cell .cell-width-line{
	background: url(images/cell-width.png) repeat-x left -11px;
	margin: 0 5px;
	height: 11px;
}

#panels-container .grid .cell .cell-width-value{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

#panels-container .grid .cell .cell-width-value span{
	display: inline-block;
	background: #f6f6f6;
	font-size: 9px;
	color: #848484;
	padding: 0 5px;
	line-height: 1;
}

#panels-container .grid .ui-resizable-handle.ui-resizable-w{
    width: 12px;
    left: -12px;
	cursor: move;
    background: rgba(0,150,211, 0);

    -webkit-transition: background 0.25s ease-in-out;
    -moz-transition: background 0.25s ease-in-out;
    -o-transition: background 0.25s ease-in-out;
    transition: background 0.25s ease-in-out;
}

#panels-container .grid .ui-resizable-handle.ui-resizable-w:hover{
    background: rgba(0,150,211, 0.1);
}

#panels-container .grid .ui-resizable-resizing .ui-resizable-handle.ui-resizable-w{
    background: rgba(0,150,211, 0.25);
}

/* @group Controls */

#panels-container .grid-container {
    position: relative;
}

#panels-container .grid-container .controls{
	line-height: 1;
	margin-bottom: 2px;
	text-align: right;
}

#panels-container .grid-container .controls .ui-button{
	margin-left: 5px;
}

#panels-container .grid-container .controls .grid-handle{
	cursor: move;
}

#add-to-panels{
    
}

/* @end */

/* @end */

/* @group The Resizable Helper */

.ui-resizable-helper{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	
	background: #fff8bd;
	border: 1px solid #ecd800;
	min-height: 100px;
	position: absolute;
}

/* @end */

/* @group Panel Container */

.panels-container .panel{
    margin-bottom: 4px;
	
	background: #f8f8f8;
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ececec 100%);
    background: -o-linear-gradient(top,  #f8f8f8 0%,#ececec 100%);
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#ececec 100%);
    background: linear-gradient(to bottom,  #f8f8f8 0%,#ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ececec',GradientType=0 );
    
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    cursor: move;
}

.panels-container .panel .panel-wrapper{
	padding: 7px;
}

.panels-container .panel h4{
	display: inline-block;
	cursor: pointer;
    margin: 0 0 3px 0;
    font-weight: 600;
    height: 1em;
    line-height: 1;
    overflow: hidden;
    margin-right: 15px;
}

.panels-container .panel .title a{
    display: none;
    margin-right: 3px;
}

.panels-container .panel:hover .title a{
    display: inline-block;
    opacity: 0.5;
}

.panels-container .panel.panel-being-dragged .title .actions {
    display: none;
}

.panels-container .panel .title .actions {
    float: right;
    cursor: pointer;
}

.panels-container .panel .title .actions:hover a{
    opacity: 1;
}

.panels-container .panel:hover .title a.delete{
    color: #FF0000;
}

.panels-container .panel:hover .title a.delete:hover{
    color: white;
    background: #FF0000;
}

.panels-container .panel.ui-sortable-helper h4{
	cursor: move;
}

.panels-container .panel small{
	display: block;
}

.panels-container .panel .form{
	display: none;
}

.panels-container .ui-state-highlight{
	border: 1px dashed #dfdfdf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    height: 51px;
    
    background: rgba(255,255,255,0.4);
    margin-bottom: 4px;
}

/* @end */

/* @group Dialogs */

#panels-dialog,
#grid-setting-dialog,
#grid-add-dialog,
#grid-prebuilt-dialog{
	display: none;
}

#panels-dialog .panels-text-filter{
    margin-bottom: 10px;
}

/* @end */

/* @group Tooltips */

.panels-tooltip{
	position: absolute;
	padding: 4px 8px;
	color: white;
	background: #1c1c1c;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
}

.panels-tooltip .pointer{
	position: absolute;
	width: 8px;
	height: 4px;
	bottom: -4px;
	left: 50%;
	margin-left: -4px;
	background-image: url(images/tooltip-pointer.png);
}

/* @end */

#content-panels{
    position: relative;
    z-index: 10;
}

#so-panels-panels{
    border: 1px solid #CCC;
    position: relative;
    z-index: 9;
}

#so-panels-panels h3.hndle{
    border-bottom: 1px solid #CCC;
    background: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(#f4f4f4));
    background-image: -webkit-linear-gradient(bottom, #e5e5e5, #f4f4f4);
    background-image:    -moz-linear-gradient(bottom, #e5e5e5, #f4f4f4);
    background-image:      -o-linear-gradient(bottom, #e5e5e5, #f4f4f4);
    background-image: linear-gradient(to top, #e5e5e5, #f4f4f4);

    padding: 4px 9px 4px 9px;
}

#so-panels-panels h3.hndle button{
    padding: 7px 8px;
    border-color: #aaa;

    background: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#fff));
    background-image: -webkit-linear-gradient(bottom, #e3e3e3, #fff);
    background-image:    -moz-linear-gradient(bottom, #e3e3e3, #fff);
    background-image:      -o-linear-gradient(bottom, #e3e3e3, #fff);
    background-image: linear-gradient(to top, #e3e3e3, #fff);
    float: left;
    margin-right: 2px;
}

#so-panels-panels .inside{
    padding: 5px 12px 5px 10px;
}

#content-panels.panels-tab-active {
    border-color: #CCC #CCC #f4f4f4 #CCC;
    background: #f4f4f4;
    color: #333;
    z-index: 10;
}


#panels-undo-message {
    position: fixed;
    top: 23px;
    left: 50%;
    
    width: 250px;
    margin-left: -125px;
    text-align: center;
    
    
    border-top: none;

    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
    z-index: 100;
}