/* @group Slider Builder */

#slider-builder-slides .ui-sortable-helper{
	width: 400px;
}

#slider-builder-slides-skeleton{
	display: none;
}

#slider-builder-slides{
	margin-bottom: 25px;
}

#slider-builder-slides .slide{
	
}

#slider-builder-slides .slide-title{
	position: relative;
	border: 1px solid #dfdfdf;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 8px 12px;
	
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec));
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%);
	background: -o-linear-gradient(top,  #f9f9f9 0%,#ececec 100%);
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#ececec 100%);
	background: linear-gradient(to bottom,  #f9f9f9 0%,#ececec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
	
	cursor: move;
}

#slider-builder-slides .state-highlight{
	border: 1px dashed #dfdfdf;
	height: 32px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#slider-builder-slides .slide-title .widget-action{
	position: absolute;
	top: 3px;
	right: 4px;
}

#slider-builder-slides .slide-content{
	background: white;
	border: 1px solid #dfdfdf;
	border-top: 0;
	padding: 10px;
}

#slider-builder-slides .slide.expanded .slide-title{
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

/* @end */