#theme-upgrade-info{
    display: none;

    background-color: #FFFBCC;
    color: #555;
    border: 1px solid #E6DB55;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    padding: 10px;
}

#theme-upgrade-info p{
    margin: 0 0 15px 0;
}

#theme-upgrade-already-paid{
    float: right;
    margin-top: 15px;
}

#theme-upgrade h2 {
    margin-bottom: 20px;
}

#theme-upgrade .left-column{
    float: left;
    width: 640px;
}

#theme-upgrade .right-column{
    float: left;
    width: 320px;
    margin-left: 40px;
}

#theme-upgrade .right-column p:first-child {
    margin-top: 0;
}

#theme-upgrade #video-wrapper{
    background: #000000;
    margin-bottom: 20px;
    background-position: top left;
}

#theme-upgrade #video-wrapper a,
#theme-upgrade #video-wrapper .placeholder,
#theme-upgrade #video-wrapper iframe{
    width: 640px;
    height: 362px;
    display: block;
    line-height: 0;
}

#theme-upgrade #video-wrapper a {
    background: url(../img/video.png) no-repeat;
}

#theme-upgrade .premium-summary {
    margin-bottom: 30px;
}

#theme-upgrade #features .feature {
    margin-bottom: 30px;
}

#theme-upgrade #features .feature img {
    float: right;
    margin-left: 20px;
}

#theme-upgrade .clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#theme-upgrade .clearfix {
	display: inline-block;
}

#purchase-form{
}

/* Buy Button */

#theme-upgrade .roadmap {
    background: #F0F0F0;
    text-decoration: none;
    display: inline-block;
    padding: 1px 4px;
}

#theme-upgrade .buy-button.variable-pricing span {
    border-right: none;
}

#theme-upgrade .buy-button:hover span{
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

#theme-upgrade .buy-button em{
	color: #5b752c;
	display: inline-block;
	font-weight: bold;
	font-style: italic;
	padding: 12px 20px 12px 20px;
	background: rgba(255,255,255,0.1);
	border-left: 1px solid rgba(255,255,255,0.275);
	text-shadow: 0 1px 0 rgba(255,255,255,0.575);
}

#purchase-form .options {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#purchase-form .options input[type=radio]{
    margin-right: 4px;
}

#purchase-form .options label {
    display: block;
    margin-bottom: 8px;
}

#purchase-form .options label:last-child {
    margin-bottom: 0px;
}

#purchase-form .choose-description {
    margin-bottom: 0;
}

#theme-upgrade .contribute {
    background: #FBFBFB;
    border: 1px solid #E0E0E0;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    margin-top: 20px;
}

#theme-upgrade .contribute a{
    text-decoration: none;
    font-weight: bold;
}

#theme-upgrade .testimonials-heading {
    margin-top: 40px;
}

#theme-upgrade .testimonials {
    background: #FBFBFB;
    border: 1px solid #E0E0E0;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

#theme-upgrade .testimonials .testimonial {
    margin-bottom: 25px;
}

#theme-upgrade .testimonials .testimonial:last-child {
    margin-bottom: 0;
}

#theme-upgrade .testimonials .testimonial .avatar {
    float: left;
    width: 40px;
    height: 40px;
}

#theme-upgrade .testimonials .testimonial .text {
    margin-left: 55px;
}

#theme-upgrade .testimonials .testimonial .text .name{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#theme-upgrade .support-message {
    background: #cbe385;
    padding: 10px;
    margin: 0 -10px 10px -10px;

    border-radius: 4px;
    color: #344e02;
    display: none;
}

#theme-upgrade .support-message p {
    margin: 0;
}

html[xmlns] #theme-upgrade .clearfix {
	display: block;
}

* html #theme-upgrade .clearfix {
	height: 1%;
}


/* Purchase Options */

#theme-upgrade .purchase-option {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 1px solid #D0D0D0;
    background: #F4F4F4;
    box-shadow: 0 1px 2px rgba(0,0,0,0.075), inset 0 1px 0 rgba(255,255,255,1);
    margin-bottom: 15px;
    padding: 20px 17px;
    border-radius: 3px;
    position: relative;
}

#theme-upgrade .purchase-option:hover,
#theme-upgrade .purchase-option.selected{
    background: #FAFAFA;
}

#theme-upgrade .purchase-option:last-child {
    margin-bottom: 0;
}

#theme-upgrade .purchase-option h3 {
    margin: 0 0 15px 0;
}

#theme-upgrade .purchase-option h4 {
    margin: 0 0 5px 0;
}

#theme-upgrade .purchase-option p {
    margin: 0;
}

#theme-upgrade .purchase-option .buy-now {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 25px;
    background: #E8E8E8;

    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;

    border: 1px solid #D0D0D0;
    border-width: 0 0 1px 1px;
    font-weight: bold;
}

#theme-upgrade .purchase-option:hover .buy-now,
#theme-upgrade .purchase-option.selected .buy-now{
    border-color: #83a44d;
    color: #344e02;
    text-shadow: 0 1px 0 rgba(255,255,255,0.575);

    background: #cbe385;
    background: -moz-linear-gradient(top,  #cbe385 0%, #9ccc54 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbe385), color-stop(100%,#9ccc54));
    background: -webkit-linear-gradient(top,  #cbe385 0%,#9ccc54 100%);
    background: -o-linear-gradient(top,  #cbe385 0%,#9ccc54 100%);
    background: -ms-linear-gradient(top,  #cbe385 0%,#9ccc54 100%);
    background: linear-gradient(to bottom,  #cbe385 0%,#9ccc54 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbe385', endColorstr='#9ccc54',GradientType=0 );

    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 0 3px rgba(0,0,0,0.2);
}